    .todo-header {
        display: flex;
        justify-content: space-between;

        .add-todo {
            display: flex;
            justify-content: flex-end;

            button {
                margin: 15px 30px;
                background-color: #FE5E57;
                border-radius: 20px;
                border: none;
                padding: 8px 20px;
                color: white;
                font-weight: 500;
                font-family: Roboto;
                font-size: 1.4rem;
                outline: none;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #fff;
                    color: #FE5E57;
                    border: 1px solid #FE5E57;
                }
            }
        }

        .search {
            margin: 15px 0;
            flex: 1;
            max-width: 500px;
            display: flex;
            border: 1px solid #B3B3C1;
            border-radius: 20px;
            padding: 5px 20px;
            transition: all 0.3s ease-in-out;

            &:hover {
                box-shadow: inset 0 0 0.5px 5px grey;
            }


            svg {
                font-size: 2rem;
                vertical-align: -15px;
                margin-right: 10px;
                cursor: default;
            }

            .MuiInputBase-root {
                flex: 1;
            }

            input {
                font-size: 1.4rem;
            }
        }
    }

    @media screen and (max-width: 750px) {
        .todo-header {
            flex-direction: column;
        }
    }

    @media screen and (max-width: 600px) {
        .search {
            margin: 10px 0 !important;
        }

        .category-info h3 {
            font-size: 2.5rem !important;
        }
    }
