.todo-card {
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    width: 200px;
    height: 120px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    position: relative;

    .actions {
        align-self: flex-end;
        position: absolute;

        svg {
            font-size: 2rem;
            color: #483946;
        }

        svg.remove {
            color: red
        }
    }

    .todo-status {
        text-transform: uppercase;
        color: #56CA6C;
        font-weight: 900;
        font-size: 1.5rem;
    }

    .todo-desc {
        color: #5B3E4D;
        font-size: 1.6rem;
        padding-top: 5px;
        font-weight: 500;
        line-height: 2.3rem;
    }

    span {
        font-weight: 300;
        color: grey;
        margin-top: 2px;
    }

    .todo-done-button {
        position: absolute;
        bottom: 0;
        margin-bottom: 20px;
        color: #FF5B58;
        background-color: white;
        border: 1px solid #FF5B58;
        border-radius: 20px;
        font-family: Roboto;
        font-weight: 500;
        padding: 5px 10px;
        cursor: pointer;
    }
}
