.create-todo {

    h3 {
        font-size: 2.5rem;
        color: #141852;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;

        div.MuiFormControl-root:nth-child(2) {
            margin: 0;
            margin-top: 25px;
            margin-bottom: 5px;
        }

        &>button {
            margin-top: 20px;

        }

        .MuiButtonBase-root {
            margin: 0;
        }
    }
}
