.todo {
    display: flex;

    &.hidden {
        max-height: 100vh;
    }

    .todo-main {
        flex-grow: 1;
        max-width: 900px;
        margin: 0 auto;
        padding: 0 50px;

        &.hidden {
            overflow-x: hidden;
        }
    }
}
