.user-todos {
    margin-bottom: 50px;

    .category-info {
        margin-top: 20px;

        h3 {
            font-size: 3rem;
            color: #483946;
            font-weight: 700;
        }

        .todo-status {
            display: flex;
            justify-content: space-between;
            max-width: 350px;
            margin-top: 30px;

            button {
                padding: 10px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                outline: none;
                color: #442a40;
                font-size: 1.5rem;
                font-weight: 500;
                font-family: Roboto;
                transition: all 0.3s ease-in-out;

                &:hover {
                    opacity: 0.7;
                }


                &.active-status {
                    border-bottom: 1px solid #EA6660;
                }
            }
        }

        .border-wrapper {
            border-bottom: 1px solid lightgrey;
            margin-bottom: 20px;
        }
    }

    .todo-cards {
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1000px) {
    .todo-cards {
        justify-content: center;

    }
}
