.todo-categories {
  // scroll functionality without scrollbar
  position: relative;
  min-height: 100vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex: 1;
  min-width: 350px;

  &::-webkit-scrollbar {
    display: none;
  }

  // end of scroll functionality

  background-color: #f8f7fc;

  font-family: 'Roboto', sans-serif;

  .add-todo-button {
    display: flex;
    justify-content: flex-end;
    padding: 20px;

    button {
      outline: none;
      background-color: transparent;
      color: #f46458;
      border-radius: 10px;
      border: 1px solid #f46458;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        box-shadow: inset 0 0 0 25px #f46458;
        color: white;
      }

      svg {
        font-size: 2rem;
      }
    }
  }

  .category-row {
    margin-bottom: 20px;
    margin-left: 50px;

    &:first-child {
      padding-top: 20px;
    }

    .categoryName-wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 80%;
      max-width: 250px;

      h3 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      svg {
        margin-top: 5px;
        margin-left: 5px;
        color: #2831a6;
        font-size: 2rem;
      }
    }

    h3 {
      color: #56374c;
      font-size: 2rem;
      font-weight: bold;
      padding: 7px 0;

      &::before {
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 3px solid #69b6d5;
        vertical-align: 5%;
        margin-right: 7px;
      }
    }

    .subcategory-wrapper {
      display: flex;
      justify-content: space-between;
      width: 80%;
      max-width: 250px;

      a {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      svg {
        margin-top: 5px;
        color: red;
        font-size: 2rem;

        &:hover {
          -webkit-animation: swing 1s ease;
          animation: swing 1s ease;
          -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
        }
      }
    }

    h3 ~ a {
      margin-left: 20px;
    }

    a {
      text-decoration: none;
      font-size: 1.5rem;
      padding: 7px;
      font-weight: 300;
      cursor: pointer;
      display: block;
      outline: none;

      &:hover {
        color: #519be5;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .todo-categories {
    flex: 1;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in;
    position: absolute;
    width: 100%;
    z-index: 1;

    .add-todo-button {
      margin-right: 100px;
    }

    &.active {
      transform: translateY(0);
      position: absolute;
      max-height: 100vh;
    }

    .category-row {
      display: flex;
      flex-direction: column;

      div {
        flex: 1;
        max-width: none !important;
      }
    }
  }

  .burger {
    position: fixed;
    z-index: 2;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 7px;

    div {
      width: 25px;
      height: 3px;
      background-color: #6f796c;
      margin: 5px;
      transition: all 0.5s ease;
    }
  }

  .hidden .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hidden .line2 {
    opacity: 0;
  }

  .hidden .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
