@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

html {
  font-size: 62.5%;
  font-family: Roboto;
  overflow-x: hidden;
}

.app {
  display: flex;

  main {
    flex: 1;
  }

  svg {
    cursor: pointer;
  }
}

.swal2-container {
  #swal2-title {
    font-size: 3rem;
    font-weight: 400;
  }

  .swal2-icon {
    font-size: 1.5rem;
  }

  .swal2-content {
    font-size: 1.4rem;
    font-weight: 300;
  }

  .swal2-actions {
    button {
      padding: 10px 20px;
      font-family: Roboto;
      font-size: 1.4rem;
    }

    button.swal2-confirm {
      background-color: #218838;
      border-color: #1e7e34;

      &:hover {
        background-color: #218838;
      }
    }

    button.swal2-cancel {
      background-color: #c82333;
      border-color: #bd2130;


      &:hover {
        background-color: #C82333;
      }
    }
  }

  .swal2-footer {
    font-size: 1.2rem;
    font-weight: 100;
  }

  input[type=text],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  &>div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

}

@media screen and (max-width: 600px) {
  .app {
    flex-direction: column;

    header {
      position: sticky;
      top: 0;
      z-index: 9999;
    }
  }

  .burger {
    padding-top: 10px !important;
  }

  .add-todo-button {
    margin-right: 0 !important;
  }

}
