@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

html {
  font-size: 62.5%;
  font-family: Roboto;
}

.app {
  display: flex;

  main {
    flex: 1;
  }
}

@import 'components/layout/Navigation', 'components/todo/Todo', 'components/todo/category/Category', 'components/todo/category/TodoCard', 'components/todo/category/TodoCards', 'components/auth/Sign';
