.wrapper {
  position: relative;
  min-height: 100vh
};

.user-todos {
  margin-bottom: 50px;
  position: relative;

  .category-info {
    margin-top: 20px;

    h3 {
      font-size: 3rem;
      color: #483946;
      font-weight: 700;
    }

    .todo-status {
      display: flex;
      justify-content: space-between;
      max-width: 350px;
      margin-top: 30px;

      button {
        padding: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        color: #442a40;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: Roboto;
        transition: all 0.3s ease-in-out;

        &:hover {
          opacity: 0.7;
        }

        &.active-status {
          border-bottom: 1px solid #ea6660;
        }
      }
    }

    .border-wrapper {
      border-bottom: 1px solid lightgrey;
      margin-bottom: 20px;
    }
  }

  .todo-cards > div {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .todos-pagination {
    margin-bottom: 30px;
    display: flex;
    gap: 5px;
    justify-content: center;

    li {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      border: 1px solid #ddd;
      cursor: pointer;

      &.active {
        background-color: #f46058;
        color: white;
        border: 1px solid #f46058;
      }

      &:hover:not(.active) {
        background-color: #ddd;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .todo-cards {
    justify-content: center;
  }
}
