@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.sign {
    font-family: 'Quicksand', sans-serif;

    background: rgb(90, 9, 242);
    background: linear-gradient(90deg, rgba(90, 9, 242, 1) 15%, rgba(173, 39, 245, 1) 71%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .sign-container {
        background: rgb(31, 17, 88);
        background: linear-gradient(90deg, rgba(31, 17, 88, 1) 28%, rgba(53, 23, 149, 1) 80%);
        width: 85%;
        height: 80vh;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .todo-logo {
            width: 80px;
            object-fit: contain;
        }

        h3 {
            color: white;
            font-size: 2.6rem;
            text-transform: uppercase;
            font-weight: 500;
            margin: 15px 0;
        }

        p {
            color: white;
            font-size: 1.4rem;
            font-size: 400;
            text-align: center;
            max-width: 300px;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                color: lightgrey;
            }

            div {
                input {
                    color: white;
                }

                &::after {
                    border-bottom-color: white;
                }
            }

            button {
                border-radius: 20px;
                margin: 20px auto;
                width: 150px;
            }
        }

        .sign-change {
            display: flex;

            .forgot-password-span {
                color: lightgrey;
                font-size: 1.2rem;
                margin-right: 10px;
            }

            a {
                color: white;
                font-size: 1.3rem;
                text-decoration: none;
                margin-bottom: 1px;
                font-weight: 500;
            }
        }

    }
}
